# Compiled Object files and libraries
*.o
*.obj
*.ko
*.lo
*.la
*.so
*.a
*.dll
*.lib

# Build directories
/build

# IDE specific files (Visual Studio)
.vs/
.vscode/

#file
sensor_publsiher_multichannnel.cxx
monitor_subscriber_multichannel.cxx